* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    z-index: -1;
}

body {
    margin: 0 10%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

.header {
    display:inline-block;
    background-color: black;
    color: white;
    width: 100%;
    margin: 2% 0;
}

.main {
    padding: 1% 0 3% 0;
    width: 100%;
    border: black solid 1%;
    background-color:white;
}

button {
    background-color: black;
    color: white;
    border: 0;
    font-family: 'Raleway', sans-serif;
    padding: 15px 32px;
    font-size: 30px;
    margin-bottom: 1%;
}

.footer {
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
}

h2 {
    margin:2% 0;
}

.playArea {
    background-color:#DEB887;
    height: 620px;
    width: 620px;
    margin: 0 auto;
    border: black solid 20px;
    position: relative;
}

.greenBox {
    background-color:green;
    height: 20px;
    width: 20px;
    position: absolute;
}



